@import "./variable";

body {
    color: #ffffff;
    background-color: #181719;
    font-size: 14px;
    max-width: 1440px;
    margin: auto;
    padding-left: 14px;
    padding-right: 14px;
  }

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: auto;
}

main {
  margin-bottom: 138px;
  margin-top: 38px;
}

@media (min-width: 650px) {
    body {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media (min-width: $large-breakpoint) {
  body {
    padding-left: 77px;
    padding-right: 77px;
  }

  main {
    display: flex;
    flex-direction: row;
    gap: 87px;
  }
}
