@import "./variable";

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

figure {
    margin: auto;
}

body {
    color: #FFFFFF;
    background-color: #181719;
    font-size: 14px;
}

main {
    margin-bottom: 138px;
    margin-top: 38px;
}



@media (min-width: $large-breakpoint) {
    body {
        padding-left: 77px;
        padding-right: 77px;
    }

    main {
        display: flex;
        flex-direction: row;
        gap: 87px;
    }
}