footer {
    font-family: 'myMontserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    border-top: solid 1px #A9A9A9;
}

footer a {
    color: #A9A9A9;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


@media (min-width: 357px) {
    footer {
        margin-left: 57px;
        margin-right: 57px;
    } 
}

@media (min-width: $large-breakpoint) {
    footer {
        border-top: unset;
    } 
}