@import "./variable";

.masthead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.masthead__heading {
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;
    border: solid 1px #FFFFFF;
    max-width: max-content;
}

.header__article--heading {
    font-size: 36px;
}

.header__article--paragraph {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 300;
}
.header__article--paragraph,
.more {
    line-height: 17px;
}

.more-info {
    margin-bottom: 25px;
    margin-top: 25px;
}

.more {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
}


.arrow-right {
    padding-left: 15px;
}

@media (min-width: $large-breakpoint) {
    .header {
        flex-basis: 35%;
    }

    .header__article--heading {
        font-size: 48px;
    }

    .header__article--paragraph {
        font-size: 24px;
        line-height: 29px;
    }

    .more {
        font-size: 18px;
    }

}