nav {
    background-image: url("../images/menu.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 19px;
    cursor: pointer;
}

nav li {
    display: none;
}