.wrapper {
    position: relative;
}

figure img {
    padding-bottom: 138px;
}

.profile__card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 80%;
    position: absolute;
    background-color: black;
    transform: translateY(-195px);
    left: 15%;
    width: 80%;
}

.profile__person--image {
    padding: 16px;
    max-width: 35px;
    border-radius: 50%;
}

.person__about {
    display: flex;
    flex-direction: column;
}

.profile__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.date {
    margin: 0;
    padding: 16px;
}