ul {
  list-style: none;
  padding: 0; }

img {
  max-width: 100%; }

figure {
  margin: auto; }

body {
  color: #FFFFFF;
  background-color: #181719;
  font-size: 14px; }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.masthead__heading {
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  border: solid 1px #FFFFFF;
  max-width: max-content; }

.header__article--heading {
  font-size: 36px; }

.header__article--paragraph {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 300; }

.header__article--paragraph,
.more {
  line-height: 17px; }

.more {
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF; }

.more::after {
  content: "";
  background-image: url("../images/arrow_right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 7px; }

nav {
  background-image: url("../images/menu.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 32px;
  height: 19px;
  cursor: pointer; }

nav li {
  display: none; }

.profile__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.profile__person--image {
  padding: 16px;
  max-width: 35px;
  border-radius: 50%; }

.person__about {
  display: flex;
  flex-direction: column; }

.profile__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; }

footer {
  text-align: center;
  border-top: solid 1px #A9A9A9; }

footer a {
  color: #A9A9A9;
  text-decoration: none; }

footer a:hover {
  text-decoration: underline; }
