@font-face {
  font-family: "myCrimson";
  src: url("../fonts/crimsonpro-extralight.woff2"), url("../fonts/crimsonpro-extralight.woff2");
  font-weight: 200; }

@font-face {
  font-family: "myLora";
  src: url("../fonts/lora-regular.woff2"), url("../fonts/lora-regular.woff");
  font-weight: 400; }

@font-face {
  font-family: "myLora";
  src: url("../fonts/lora-bold.woff2"), url("../fonts/lora-bold.woff");
  font-weight: 700; }

@font-face {
  font-family: "myMontserrat";
  src: url("../fonts/montserrat-light.woff2"), url("../fonts/montserrat-light.woff");
  font-weight: 300; }

@font-face {
  font-family: "myMontserrat";
  src: url("../fonts/montserrat-medium.woff2"), url("../fonts/montserrat-medium.woff");
  font-weight: 500; }

@font-face {
  font-family: "myMontserrat";
  src: url("../fonts/montserrat-semibold.woff2"), url("../fonts/montserrat-semibold.woff");
  font-weight: 600; }

@font-face {
  font-family: "myMontserrat";
  src: url("../fonts/montserrat-bold.woff2"), url("../fonts/montserrat-bold.woff");
  font-weight: 700; }

body {
  color: #ffffff;
  background-color: #181719;
  font-size: 14px;
  max-width: 1440px;
  margin: auto;
  padding-left: 14px;
  padding-right: 14px; }

ul {
  list-style: none;
  padding: 0; }

img {
  max-width: 100%; }

figure {
  margin: auto; }

main {
  margin-bottom: 138px;
  margin-top: 38px; }

@media (min-width: 650px) {
  body {
    padding-left: 35px;
    padding-right: 35px; } }

@media (min-width: 1100px) {
  body {
    padding-left: 77px;
    padding-right: 77px; }
  main {
    display: flex;
    flex-direction: row;
    gap: 87px; } }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.masthead__heading {
  font-family: 'myCrimson', 'Times New Roman', Times, serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  border: solid 1px #FFFFFF;
  max-width: max-content; }

.header__article--heading {
  font-family: 'myLora', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 36px; }

.header__article--paragraph {
  font-family: 'myMontserrat', Arial, Helvetica, sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 300; }

.header__article--paragraph,
.more {
  line-height: 17px; }

.more-info {
  margin-bottom: 25px;
  margin-top: 25px; }

.more {
  font-family: 'myMontserrat', Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF; }

.arrow-right {
  padding-left: 15px; }

@media (min-width: 1100px) {
  .header {
    flex-basis: 35%; }
  .header__article--heading {
    font-size: 48px; }
  .header__article--paragraph {
    font-size: 24px;
    line-height: 29px; }
  .more {
    font-size: 18px; } }

nav {
  font-size: 18px;
  width: 32px;
  height: 19px;
  z-index: 2;
  display: none; }

.masthead {
  position: relative; }

nav {
  background-color: #181719;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  text-align: center; }

.navigation__list {
  transform: translateY(50%); }

.nav__wrapper {
  position: relative;
  width: 29px;
  height: 29px; }

.nav__wrapper > [type="checkbox"]:checked ~ nav {
  display: none; }

.menu-toggler {
  background-image: url("../images/menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  width: 29px;
  height: 29px;
  cursor: pointer; }

.nav__wrapper [type="checkbox"]:checked ~ nav {
  display: block; }

[type="checkbox"]:checked ~ .menu-toggler {
  background-image: url("../images/clear.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  text-indent: -9999px;
  width: 29px;
  height: 29px;
  cursor: pointer; }

#show-menu {
  position: absolute;
  display: none; }

.navigation__list-item {
  font-family: 'myMontserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  padding: 16px; }

.navigation__list-item:nth-of-type(1) {
  font-weight: 700; }

.list__item--link {
  text-decoration: none;
  color: #FFFFFF; }

@media (min-width: 600px) {
  .masthead__heading {
    flex-basis: 50%; }
  nav {
    background-image: unset;
    display: block;
    width: unset;
    height: unset;
    z-index: unset;
    position: unset;
    width: unset;
    height: unset;
    text-align: unset;
    background-color: transparent; }
  .nav__wrapper {
    position: unset;
    width: unset;
    height: unset;
    flex-basis: 50%; }
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: unset; }
  .navigation__list-item {
    padding: 0; }
  .menu-toggler {
    display: none; } }

.image-wrapper {
  position: relative; }

.profile__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  position: absolute;
  background-color: black;
  transform: translateY(-50%);
  left: 15%;
  width: 80%;
  z-index: 1; }

.profile__person--image {
  padding: 16px;
  max-width: 35px;
  border-radius: 50%; }

.person__about {
  display: flex;
  flex-direction: column; }

.profile__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.person__about--name {
  font-size: 12px; }

.person__about--name,
.person__about--job {
  font-family: 'myMontserrat', Arial, Helvetica, sans-serif;
  font-weight: 500; }

.person__about--job {
  font-size: 10px;
  color: #828282; }

.date {
  font-family: 'myLora', 'Times New Roman', Times, serif;
  font-weight: 700;
  margin: 0;
  padding: 16px; }

@media (min-width: 1100px) {
  .image-wrapper {
    flex-basis: 65%; }
  .date {
    font-size: 24px; }
  .person__about--name {
    font-size: 14px; }
  .person__about--job {
    font-size: 12pxs; } }

footer {
  font-family: 'myMontserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  border-top: solid 1px #A9A9A9; }

footer a {
  color: #A9A9A9;
  text-decoration: none; }

footer a:hover {
  text-decoration: underline; }

@media (min-width: 357px) {
  footer {
    margin-left: 57px;
    margin-right: 57px; } }

@media (min-width: 1100px) {
  footer {
    border-top: unset; } }
