ul {
  list-style: none;
  padding: 0; }

img {
  max-width: 100%; }

figure {
  margin: auto; }

body {
  color: #FFFFFF;
  background-color: #181719;
  font-size: 14px; }

@media (min-width: 1100px) {
  body {
    padding-left: 77px;
    padding-right: 77px; }
  main {
    display: flex;
    flex-direction: row; } }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.masthead__heading {
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px;
  border: solid 1px #FFFFFF;
  max-width: max-content; }

.header__article--heading {
  font-size: 36px; }

.header__article--paragraph {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 300; }

.header__article--paragraph,
.more {
  line-height: 17px; }

.more-info {
  margin-bottom: 25px;
  margin-top: 25px; }

.more {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF; }

.arrow-right {
  padding-left: 15px; }

nav {
  font-size: 18px;
  width: 32px;
  height: 19px;
  z-index: 2;
  display: none; }

.masthead {
  position: relative; }

nav {
  background-color: #181719;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  text-align: center; }

.navigation__list {
  transform: translateY(50%); }

.nav__wrapper {
  position: relative;
  width: 29px;
  height: 29px; }

.nav__wrapper > [type="checkbox"]:checked ~ nav {
  display: none; }

.menu-toggler {
  background-image: url("../images/menu.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  text-indent: -9999px;
  width: 29px;
  height: 29px;
  cursor: pointer; }

.nav__wrapper [type="checkbox"]:checked ~ nav {
  display: block; }

[type="checkbox"]:checked ~ .menu-toggler {
  background-image: url("../images/clear.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  text-indent: -9999px;
  width: 29px;
  height: 29px;
  cursor: pointer; }

#show-menu {
  position: absolute;
  display: none; }

.navigation__list-item {
  padding: 16px; }

.navigation__list-item:nth-of-type(1) {
  font-weight: 700; }

.list__item--link {
  text-decoration: none;
  color: #FFFFFF; }

@media (min-width: 600px) {
  .masthead__heading {
    flex-basis: 50%; }
  nav {
    background-image: unset;
    display: block;
    width: unset;
    height: unset;
    z-index: unset;
    position: unset;
    width: unset;
    height: unset;
    text-align: unset;
    background-color: transparent; }
  .nav__wrapper {
    position: unset;
    width: unset;
    height: unset;
    flex-basis: 50%; }
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: unset; }
  .navigation__list-item {
    padding: 0; }
  .menu-toggler {
    display: none; } }

.wrapper {
  position: relative; }

figure img {
  padding-bottom: 138px; }

.profile__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  position: absolute;
  background-color: black;
  transform: translateY(-195px);
  left: 15%;
  width: 80%;
  z-index: 1; }

.profile__person--image {
  padding: 16px;
  max-width: 35px;
  border-radius: 50%; }

.person__about {
  display: flex;
  flex-direction: column; }

.profile__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.person__about--name {
  font-size: 12px; }

.person__about--job {
  font-size: 10pxs; }

.date {
  margin: 0;
  padding: 16px; }

footer {
  text-align: center;
  border-top: solid 1px #A9A9A9; }

footer a {
  color: #A9A9A9;
  text-decoration: none; }

footer a:hover {
  text-decoration: underline; }

@media (min-width: 1100px) {
  footer {
    border-top: unset; } }
